<div class="container">
       <div class="row">
            <div class="col-lg-12">
               
<%= simple_nested_form_for([@journal, @issue]) do |f| %>
  <%= f.error_notification %>

  <h1 class="page-header">Add Issue to: <i><%= @journal.title %></i></h1>


  </br>
  </br>

  <div class="element-input"><%= f.input :volume_number %></div>
  <div class="element-input"><b><%= f.input :issue_number %></b></div>
  <div class="element-date"><b><%= f.input :date_published %></b></div>
  
</br>
  
<center>
  <%= f.submit "Save Issue", data: { confirm: "Confirm Issue?" }, :class => 'loginBtn btn btn-default', :id => 'loginbtn' %>
  </br>
  <% end %>
  </br>
  <%= button_to "Cancel", journals_path, method: :get, data: { confirm: "Are you sure?" }, :class => 'loginBtn btn btn-default', :id => 'loginbtn' %>
</center>
  	</div>
  </div>
</div>

</br>
</br>