<div class="container">
       
        <div class="row">
            <div class="col-lg-12">



<h1 class="page-header">Update Delivery Status</h1>

<%= simple_nested_form_for([@subscriber, @subscription]) do |f| %>  
  <%= f.error_notification %>
  <%= f.input :delivery_status %>


  <!-- 
    
    Edited last September 16, 2015

    By editing the subscriptions_controller.rb and passing the subscriber.id by using params,

    The simple_nested_form_for is required to edit an inherited model from another model. 

    (i.e. Subscriber has many Subscriptions, Edit delivery status of a subscription of a subscriber)

    Basic syntax:

    simple_nested_form_for([@subscriber, @subscription]) do |f|


  -->
  

  </br>
  <center>
  <%= f.submit "Save Changes", :class => 'loginBtn btn btn-default', :id => 'loginbtn' %>
  
  </br>

<% end %>

</br>

<%= link_to "Cancel", :back, data: { confirm: "Are you sure?" }, :class => 'loginBtn btn btn-default', :style => "color:#8AAE1E" %>
</center>
      </div>
    </div>
  </div>

  </br>
  </br>