<div class="container">
       <div class="row">
            <div class="col-lg-12">

<%= simple_nested_form_for([@subscriber, @subscription]) do |f| %>
  <%= f.error_notification %>
 </br>
<h1 class="page-header">Add Subscription to: <i><%= @subscriber.name %></i></h1>

 </br>
Subscription Type: <i><%= @subscriber.subscription_type %></i>
	<b><%= f.association :journal, collection: Journal.enabled, :include_blank => false  %></b>

	
  <%= f.input :years_of_subscription, :collection => Subscription::YEARS_OF_SUBSCRIPTION, :label => "Years Of Subscription", :include_blank => false %>

	</br>


  </br>
  </br>
  
  <center>
  <%= f.submit "Confirm", data: { confirm: "Confirm Subscription?" }, :class => 'loginBtn btn btn-default', :id => 'loginbtn' %>
  </br>
  <% end %>
  </br>
  <%= link_to "Cancel", :back, data: { confirm: "Are you sure?" }, :class => 'loginBtn btn btn-default', :style => "color:#0B2161"  %>

  </center>
  
</div>
  </div>
</div>