<h1>Edit Journal</h1>

<%= simple_form_for(@journal) do |f| %>
  <%= f.input :title %>
  <%= f.input :publication_date %>
  <%= f.input :institutional_price %>
  <%= f.input :individual_price %>
  <%= f.input :price_per_issue %>
 

  
  <%= f.submit "Save Journal" %>
<% end %>

<%= button_to "Cancel", journals_path, method: :get, data: { confirm: "Are you sure?" } %>