<div class="container">
       
        <div class="row">
            <div class="col-lg-12">





<h1 class="page-header">Edit Journal</h1>

<%= simple_form_for(@journal) do |f| %>
  <%= f.error_notification %>
  <%= f.hint "All labels with * can't be blank" %>
  <%= f.input :title %>
  <%= f.input :publication_date %>
  <%= f.input :global_institutional_price %>
  <%= f.input :global_individual_price %>
  <%= f.input :local_institutional_price %>
  <%= f.input :local_individual_price %>
  <%= f.input :global_price_per_issue %>
  <%= f.input :local_price_per_issue %>

  </br>
<center>  
  <%= f.submit "Save Journal", :class => 'loginBtn btn btn-default', :id => 'loginbtn' %>

  </br>

<% end %>

  </br>

<%= link_to "Cancel", :back, data: { confirm: "Are you sure?" }, :class => 'loginBtn btn btn-default', :style => "color:#8AAE1E"  %>
</center>

			</div>
		</div>
	</div>

  </br>
  </br>