<h1>Journals</h1>
<%= link_to "New Journal", new_journal_path %>
<%= link_to "Back", root_path =%>
<table style="width: 110%;">
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Status</th>
    <th>Number of Issues</th>
    <th>Price Per Issue</th>
    <th>Number of Subscribers</th>

    
    
  </tr>
  <% @journals.each do |journal| %>
    <tr align="center">
      <td><%= journal.id %></td>
      <td><%= journal.title %></td>
      <td><%= journal.status %></td>
      <td><%= journal.number_of_issues %></td>
      <td><%= journal.price_per_issue %></td>
      <td><%= journal.number_of_subscriber %></td>
      <td>
        <%= link_to "Show", journal_path(journal.id) %>
        <%= link_to "Edit", edit_journal_path(journal.id) %>
        
        <%= link_to "Delete", journal, method: :delete, data: { confirm: "Are you sure?" } %>

      </td>
    </tr>
  <% end %>
</table>