<h1>Journals</h1>
<%= link_to "New Journal", new_journal_path %>

<table style="width: 300%;">
  <tr>
    <th>Title</th>
    <th>Status</th>
    <th>Publication Date</th>
    <th>Number of Issues</th>
    <th>Institutional Price</th>
    <th>Individual Price</th>
    <th>Price Per Issue</th>
    <th>Number of Subscribers</th>

    
    
  </tr>
  <% @journals.each do |journal| %>
    <tr align="center">
      <td><%= journal.title %></td>
      <td><%= journal.status %></td>
      <td><%= journal.publication_date %></td>
      <td><%= journal.number_of_issues %></td>
      <td><%= journal.institutional_price %></td>
      <td><%= journal.individual_price %></td>
      <td><%= journal.price_per_issue %></td>
      <td><%= journal.number_of_subscriber %></td>
      <td>
        <%= link_to "Show", journal_path(journal.id) %>
        <%= link_to "Edit", edit_journal_path(journal.id) %>
        
        <%= link_to "Delete", journal, method: :delete, data: { confirm: "Are you sure?" } %>

      </td>
    </tr>
  <% end %>
</table>