<font size="2">
<div align="center">
ATENEO DE MANILA UNIVERSITY JOURNALS OFFICE
</br>
Room 102, Bellarmine Hall, Ateneo De Manila University, Loyola Heights, Quezon City 1108, Philippines
</br>
EMAIL journals.ls@ateneo.edu TELEFAX (+632) 426 5663 Phone (+632) 426 6001 ext. 5048
</br>
NON-VAT REG. TIN: 000-707-229-000
</div>


<h1 align="center"><b>SUBSCRIPTION REPORT</b></h1>

<div align="right">
Date: <i><%= Date.today %></i>
</br>
</div>

<p>
  <b>Journal: </b><i><%= @journal.title %></i>
  </br>
  <b>Number of Issues: </b><i><%= @journal.issues.size %></i>
  </br>
  <b>Number of Subscribers: </b><i><%= @journal.subscribers.size %></i>
  </br>


</p>

</br>
  <b> Subscriptions Summary</b>
  </br>
  </br>

  </br>
  <table style="width: 100%;", border="1|0", font="2">
  <thead>
    <tr>
      <th><font size="1">Name</font></th>
      <th><font size="1">Subscription Type</font></th>
      <th><font size="1">Email Address</font></th>
      <th><font size="1">First Address</font></th>
      <th><font size="1">Second Address</font></th>
      <th><font size="1">Zip Code</font></th>
      <th><font size="1">Contact Persons</font></th>
    </tr>
  </thead>
  <tbody>
  <% @journal.subscriptions.each do |subscription| %>
  <tr>
    <td><font size="1"><%= subscription.subscriber.name %></font></td>
    <td><font size="1"><%= subscription.subscriber.subscription_type %></font></td>
    <td><font size="1"><%= subscription.subscriber.email_address %></font></td>
    <td><font size="1"><%= subscription.subscriber.first_address %></font></td>
    <td><font size="1"><%= subscription.subscriber.second_address %></font></td>
    <td><font size="1"><%= subscription.subscriber.zip_code %></font></td>
    <td><font size="1"><%= subscription.subscriber.contact_person %></font></td>
    <% end %>
  </tr>
 </tbody>
 </table>
 </font>
