<h1><%= @journal.title %></h1>
      <h2><%= @journal.status %></h2>
      <h2><%= @journal.publication_date %></h2>
      <h2><%= @journal.number_of_issues %></h2>
      <h2><%= @journal.institutional_price %></h2>
      <h2><%= @journal.individual_price %></h2>
      <h2><%= @journal.price_per_issue %></h2>
      <h2><%= @journal.number_of_subscriber %></h2>
      <h2>
<%= link_to "Back to List", journals_path %>