<div class="container">
       
        <div class="row">
            <div class="col-lg-12">



<h1 class="page-header">Edit Subscriber</h1>

<%= simple_form_for(@subscriber) do |f| %>
  <%= f.input :name %>
  <%= f.input :subscription_type, :collection => Subscriber::SUBSCRIPTION_TYPE, :label => "Subscription Type", :include_blank => false %>
  <%= f.input :contact_person %>
  <%= f.input :phone_number %>
  <%= f.input :fax_number %>
  <%= f.input :first_address %>
  <%= f.input :second_address %>
  <%= f.input :email_address %>
  <%= f.input :zip_code %>
  <%= f.input :ip_address %>

  </br>
  <center>
  <%= f.submit "Save Changes", :class => 'loginBtn btn btn-default', :id => 'loginbtn' %>

  </br>

<% end %>

</br>

<%= link_to "Cancel", :back, data: { confirm: "Are you sure?" }, :class => 'loginBtn btn btn-default', :id => 'loginbtn' %>
</center>
      </div>
    </div>
  </div>

  </br>
  </br>