<h1>Subscribers</h1>
<%= link_to "New Subscriber", new_subscriber_path %>
<%= link_to "Back", root_path =%>

<table style="width: 100%;">
  <tr>
    <th>Name</th>
    <th>Subscription Type</th>
    <th>Email Address</th>
    <th>Payment Status</th>
    <th>Delivery Status</th>
    
    
    
  </tr>
  <% @subscribers.each do |subscriber| %>
    <tr  align="center">
      <td><%= subscriber.name %></td>
      <td><%= subscriber.subscription_type %></td>
      <td><%= subscriber.email_address %></td>
      <td><%= subscriber.payment_status %></td>
      <td><%= subscriber.delivery_status %></td>
      <td>
        <%= link_to "Show", subscriber_path(subscriber.id) %>
        <%= link_to "Edit", edit_subscriber_path(subscriber.id) %>
        
        <%= link_to "Delete", subscriber, method: :delete, data: { confirm: "Are you sure?" } %>
        <%= link_to "Add Subscription", new_subscriber_subscription_path(subscriber.id) %>

      </td>
    </tr>
  <% end %>
</table>