

<div class="container">
       <div class="row">
            <div class="col-lg-12">
                    <h1 class="page-title">Manage Subscribers</h1><br>
                    <div class="table-responsive">
<i>For Global and Local Institutional Subscribers, please fill out Contact Person and IP Address in <b>Edit</b></i>


<%= form_tag subscribers_path, method: "GET" do %>







<table class="tablecss table table-striped">


  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Subscription Type</th>
    <th>Email Address</th>
    <th></th>
    <th></th>
    <th>Edit</th>
    <th>Delete</th>
    <th>Subscribe</th>
    <th>Invoice</th>
    
  </tr>

  <tr>
    <td></td>
    <td><%= text_field_tag :q_name, @q_name %></td>
    <td><%= text_field_tag :q_subscription_type, @q_subscription_type %></td>
    <td><%= text_field_tag :q_email_address, @q_email_address %></td>
    <td><%= submit_tag "Search!", :class => 'btn btn-mini btn-info' %></td>
    <td><%= button_tag "Clear", type: :reset, :class => 'btn btn-mini btn-info' %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>



  <% @subscribers.each do |subscriber| %>
    <tr  align="center">
      <td><%= subscriber.id %></td>
      <td><%= link_to subscriber.name, subscriber_path(subscriber.id) %></td>
      <td><%= subscriber.subscription_type %></td>
      <td><%= subscriber.email_address %></td>
      <td></td>
      <td></td>
      <td class="functions">
      <%= link_to edit_subscriber_path(subscriber.id) do %>
            
              <b><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></b>
          <% end %>
      </td>  
      <td class="functions">
      <%= link_to subscriber, method: :delete, data: { confirm: "Are you sure?" } do %>
            
              <b><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></b>
          <% end %>
      </td>            
       
      <td class="functions">
      <%= link_to new_subscriber_subscription_path(subscriber.id) do %>
            
              <b><span class="glyphicon glyphicon-import" aria-hidden="true"></span></b>
          <% end %>
      </td>  


      <td class="functions">
      <%= link_to subscriber_path(subscriber, format: 'pdf') do %>
            
              <b><span class=" glyphicon glyphicon-align-justify" aria-hidden="true"></span></b>
          <% end %>   
      </td> 



      
      <% end %>
    </tr>
  <% end %>
</table>

      
</div>
</div>
</div>