<h1>Subscribers</h1>
<%= link_to "New Subscriber", new_subscriber_path %> |
<%= link_to "Back", root_path %>

<table style="width: 80%;">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Subscription Type</th>
    <th>Email Address</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
    <th>Subscription</th>
    
  </tr>
  <% @subscribers.each do |subscriber| %>
    <tr  align="center">
      <td><%= subscriber.id %></td>
      <td><%= subscriber.name %></td>
      <td><%= subscriber.subscription_type %></td>
      <td><%= subscriber.email_address %></td>


      
        <td align="left"><%= button_to "Show", subscriber_path(subscriber.id), method: :get %></td>
        <td align="left"><%= button_to "Edit", edit_subscriber_path(subscriber.id), method: :get %></td>
        <td align="left"><%= button_to "Delete", subscriber, method: :delete, data: { confirm: "Are you sure?" } %></td>
        <td align="left"><%= button_to "Add", new_subscriber_subscription_path(subscriber.id), method: :get %></td>

      
    </tr>
  <% end %>
</table>