<h1>New Subscriber</h1>

<%= simple_form_for(@subscriber) do |f| %>
  <%= f.input :name %>
  <%= f.input :subscription_type %>
  <%= f.input :contact_person %>
  <%= f.input :phone_details %>
  <%= f.input :fax_details %>
  <%= f.input :first_address %>
  <%= f.input :second_address %>
  <%= f.input :email_address %>
  <%= f.input :zip_code %>
  <%= f.input :ip_address %>

  <table style="width: 100%;">
  <tr>
    <th>Journal Name</th>
    <th>Number of Issues</th>
    <th>Institutional Price</th>
    <th>Individual Price</th>
    <!--<th>Number of Years of Subscriptions</th> -->
  </tr>
  <% @journal.each do |journal| %>
    <tr>
      <td><%= journal.title %></td>
      <td><%= journal.number_of_issues %></td>
      <td><%= f.association :journals  %></td>
      <!--<td><%= journal.individual_price %></td>-->
      
    </tr>
  <% end %>
</table>

  


    <%= f.submit "Save Subscriber" %>
<% end %>
