<div class="container">
       <div class="row">
            <div class="col-lg-12">
                <h1><%=@subscriber.name %>
                </h1><br>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
              <div class="panel panel-default">
               <div class="panel-heading">
                  <h3 class="panel-title"><b>Subscriber Information</b></h3>
              </div>


<div class="panel-body">
                 

              <table class="table table-striped" >
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Subscription Type</th>
    <th>Contact Person</th>
    <th>IP Address</th>
    <th>Phone Details</th>
    <th>Fax Details</th>
    <th>First Address</th>
    <th>Second Address</th>
    <th>Email Address</th>
    <th>Zip Code</th>
  </tr>


    
      <tr  align="center">


          <td><%= @subscriber.id %></td>
          <td><%= @subscriber.name %></td>      
          <td><%= @subscriber.subscription_type %></td>
          <td><%= @subscriber.contact_person %></td>
          <td><%= @subscriber.ip_address %></td>
          <td><%= @subscriber.phone_number %></td>
          <td><%= @subscriber.fax_number %></td>
          <td><%= @subscriber.first_address %></td>
          <td><%= @subscriber.second_address %></td>
          <td><%= @subscriber.email_address %></td>
          <td><%= @subscriber.zip_code %></td>
          </br>
      </tr>
    

  </table>

  </div>
      </div>

</br>
</br>
      <b>Subscriptions</b>
      
      <table class="tablecss table table-striped">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Years Of Subscription</th>
                <th>Price</th>
                <th>Amount Due</th>
                <th>Payment Status</th>
                <th></th>
                <th>Delivery Status</th>
                <th></th>
                <th>Expiration Date</th>
                <th>Subscription</th>
              
            </tr>

            <% @subscriber.subscriptions.each do |subscription| %>
            <tr  align="center">
                  <td><%= subscription.id %></td>
                  <td><%= link_to subscription.journal, journal_path(subscription.journal.id) %></td>
                  <td><%= subscription.years_of_subscription %></td>

                  <% if @subscriber.subscription_type == "Global Individual" || @subscriber.subscription_type == "Global Institutional" %>

                  <td><i><%= @subscriber.subscription_type %>: </i> </br> $ <%= subscription.price %></td>

                  <td> $ <%= subscription.amount_due %>

                  <% elsif @subscriber.subscription_type == "Local Individual" || @subscriber.subscription_type == "Local Institutional" %>

                  <td><i><%= @subscriber.subscription_type %>: </i> </br> &#8369 <%= subscription.price %></td>

                  <td> &#8369 <%= subscription.amount_due %>

                  <% end %>


                  <td><i><%= subscription.payment_status %></i></td>

                  <td>
                  <% if subscription.payment_status == "Unpaid" %>
                   <%= button_to "Paid", subscriber_subscription_paid_path(@subscriber.id,subscription.id), method: :get, :class => 'btn btn-mini btn-success' %>
                  <% elsif subscription.payment_status == "Paid" %>
                  <%= button_to "Unpaid", subscriber_subscription_unpaid_path(@subscriber.id,subscription.id), method: :get, :class => 'btn btn-mini btn-danger' %> 
                  <% end %>
                   </td>
                  <td><i><%= subscription.delivery_status %></i></td>
                  <td>

                  <% if subscription.delivery_status == "Undelivered" %>

                   <%= button_to "Delivered", subscriber_subscription_delivered_path(@subscriber.id,subscription.id), method: :get, :class => 'btn btn-mini btn-success' %>

                  <% elsif subscription.delivery_status == "Delivered" %>

                  <%= button_to "Undelivered", subscriber_subscription_undelivered_path(@subscriber.id,subscription.id), method: :get, :class => 'btn btn-mini btn-danger' %> 

                  <% end %>

                   </td>
                  
                   <td>
                  <%= subscription.expiration_date.strftime("%B %d, %Y") %>
                  </td>
                  
                  <td> 
                  <%= button_to "Unsubscribe", subscriber_subscription_path(subscription, :subscriber_id => @subscriber.id), method: :delete, data: { confirm: "Are you sure" }, :class => 'btn btn-mini btn-danger' %>
                  </td>
                  
                  
                   

                   </tr>
            <% end %>
      </table>
      </br>

<center>
<%= button_to "Add Subscription", new_subscriber_subscription_path(@subscriber.id), method: :get, :class => 'loginBtn btn btn-default', :id => 'loginbtn' %>
</br>

<%= button_to "Back to list", subscribers_path, method: :get, :class => 'loginBtn btn btn-default', :id => 'loginbtn' %>
</br>

<%= button_to "Back", :back, method: :get, :class => 'loginBtn btn btn-default', :id => 'loginbtn' %>

</center>

</br>
</br>
