<div class="container">
       <div class="row">
            <div class="col-lg-12">
                <h1><%=@subscriber.name %>
                </h1><br>
            </div>
        </div>



        <div class="row">
      <div class="col-lg-12">
          <ul class="nav nav-tabs nav-justified">
            <li class="mytab"> <%= link_to edit_subscriber_path(@subscriber.id) do %> 

            <font color="white"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</font>

            <% end %>
            </li>

          </ul>
        </div>
      </div>

        <div class="row">
            <div class="col-lg-12">
              <div class="panel panel-default">
               <div class="panel-heading">
                  <h3 class="panel-title"><b>Subscriber Information</b></h3>
              </div>


<div class="panel-body">
                 

 <table valign="top" align="left" style="width: 50%">
    <tbody><tr>

      <td width="200px" style="height:20px">ID</td>
      <td>:</td>
      <td width="60%" style="height:50px"><b><%= @subscriber.id %></b></td>
      </tr>

      <td width="200px" style="height:20px">Name</td>
      <td>:</td>
      <td width="60%" style="height:50px"><b><%= @subscriber.name %></b></td>
      </tr>

      <td width="200px" style="height:20px">Subscription Type</td>
      <td>:</td>
      <td width="60%" style="height:50px"><b><%= @subscriber.subscription_type %></b></td>
      </tr>

      <td width="200px" style="height:20px">Contact Person</td>
      <td>:</td>
      <td width="60%" style="height:50px"><b><%= @subscriber.contact_person %></b></td>
      </tr>

      <td width="200px" style="height:20px">IP Address</td>
      <td>:</td>
      <td width="60%" style="height:50px"><b><%= @subscriber.ip_address%></b></td>
      </tr>

      <td width="200px" style="height:20px">Phone Details</td>
      <td>:</td>
      <td width="60%" style="height:50px"><b><%= @subscriber.phone_number %></b></td>
      </tr>

      </tbody></table> 
                    </td>
  <table valign="top" align="left" style="width: 50%">
    <tbody><tr>

    <td width="200px" style="height:20px">Fax Details</td>
      <td>:</td>
      <td width="60%" style="height:50px"><b><%= @subscriber.fax_number %></b></td>
      </tr>

    <td width="200px" style="height:20px">First Address</td>
      <td>:</td>
      <td width="60%" style="height:50px"><b><%= @subscriber.first_address %></b></td>
      </tr>

    <td width="200px" style="height:20px">Second Address</td>
      <td>:</td>
      <td width="60%" style="height:50px"><b><%= @subscriber.second_address %></b></td>
      </tr>

    <td width="200px" style="height:20px">Email Address</td>
      <td>:</td>
      <td width="60%" style="height:50px"><b><%= @subscriber.email_address %></b></td>
      </tr>

    <td width="200px" style="height:20px">Zip Code</td>
      <td>:</td>
      <td width="60%" style="height:50px"><b><%= @subscriber.zip_code %></b></td>
      </tr>

      </tbody></table> 
                       
                    </td>
  
  </table>


   

  </table>
  
  </div>
      </div>

</br>
</br>

    <div class="row">
      <div class="col-lg-12">
          <ul class="nav nav-tabs nav-justified">
            <li class="mytab"> <%= link_to new_subscriber_subscription_path(@subscriber.id) do %> 

            <font color="white"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Subscription</font>

            <% end %>
            </li>

          



            <li class="mytab"> <%= link_to subscriber_path(@subscriber, format: 'pdf'), :target => "_blank" do %> 

            <font color="white"><span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> Generate Invoice</font>

            <% end %>
            </li>

          </ul>
        </div>
      </div>



  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">

          <h3 class="panel-title"><b>Subscriptions</b></h3>
        </div>
              
               
                    
      <table class="tablecss table table-striped">
        
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Years Of Subscription</th>
                <th>Price</th>
                <th>Amount Due</th>
                <th>Payment Status</th>
                <th></th>
                <th>Delivery Status</th>
                <th></th>
                <th>Expiration Date</th>
                <th>Subscription</th>
              
            </tr>

            <% @subscriber.subscriptions.each do |subscription| %>
            <tr  align="center">
                  <td><%= subscription.id %></td>
                  <td><%= link_to subscription.journal, journal_path(subscription.journal.id) %></td>
                  <td><%= subscription.years_of_subscription %></td>

                  <% if @subscriber.subscription_type == "Global Individual" || @subscriber.subscription_type == "Global Institutional" %>

                  <td><i><%= @subscriber.subscription_type %>: </i> </br> $ <%= number_with_precision(subscription.price, :precision => 2) %></td>

                  <td> $ <%= number_with_precision(subscription.amount_due, :precision => 2) %>

                  <% elsif @subscriber.subscription_type == "Local Individual" || @subscriber.subscription_type == "Local Institutional" %>

                  <td><i><%= @subscriber.subscription_type %>: </i> </br> &#8369 <%= number_with_precision(subscription.price, :precision => 2) %></td>

                  <td> &#8369 <%= number_with_precision(subscription.amount_due, :precision => 2) %>

                  <% end %>


                  <td><i><%= subscription.payment_status %></i></td>

                  <td>
                  <% if subscription.payment_status == "Unpaid" %>
                   <%= button_to "Paid", subscriber_subscription_paid_path(@subscriber.id,subscription.id), method: :get, :class => 'btn btn-mini btn-success' %>
                  <% elsif subscription.payment_status == "Paid" %>
                  <%= button_to "Unpaid", subscriber_subscription_unpaid_path(@subscriber.id,subscription.id), method: :get, :class => 'btn btn-mini btn-danger' %> 
                  <% end %>
                   </td>
                  <td><i><%= subscription.delivery_status %></i></td>
                  <td>

                  
                    <%= button_to "Update", edit_subscriber_subscription_path(@subscriber.id, subscription.id), method: :get, :class => 'btn btn-mini btn-success' %>
                    
                      <!--
                        
                        Edited last September 16, 2015

                        Update delivery status of one of the subscriptions of the chosen subscriber.

                        On this page (show#subscriber), it shows all subscriptions of that chosen subscriber

                        To go from the subscribers_controller to subscriptions_controller, 

                        you need to pass the subscriber id = @subscriber.id and subscription id = subscription.id

                        Then edit subscriptions_controller.rb

                       -->

                   </td>
                  
                   <td>
                  <%= subscription.expiration_date.strftime("%B %d, %Y") %> 
                  </td>
                  
                  <td> 
                  <%= button_to "Unsubscribe", subscriber_subscription_path(subscription, :subscriber_id => @subscriber.id), method: :delete, data: { confirm: "Are you sure" }, :class => 'btn btn-mini btn-danger' %>
                  </td>
                  
                  
                   

                   </tr>
            <% end %>
      </table>
      </br>

</br>
</br>
