<h1><%= @subscriber.name %></h1>
      <h2><%= @subscriber.username %></h2>
      <h2><%= @subscriber.subscription_type %></h2>
      <h2><%= @subscriber.contact_person %></h2>
      <h2><%= @subscriber.phone_details %></h2>
      <h2><%= @subscriber.fax_details %></h2>
      <h2><%= @subscriber.first_address %></h2>
      <h2><%= @subscriber.second_address %></h2>
      <h2><%= @subscriber.email_address %></h2>
      <h2><%= @subscriber.subscription_status %></h2>
      <h2><%= @subscriber.payment_status %></h2>
      <h2><%= @subscriber.delivery_status %></h2>
      <h2>Subscriptions</h2>
      
      <table style="width: 110%;">
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th>Payment Status</th>
                <th>Delivery Status</th>
                <th>Subscription Status</th>
            </tr>

            <% @subscriber.subscriptions.each do |subscription| %>
            <tr  align="center">
                  <td><%= subscription.journal.title %></td>
                  <td><%= subscription.price %></td>
                  <td><i><%= subscription.payment_status %></i></td>
                        
                  <td><i><%= subscription.delivery_status %></i></td>
                  <td><i><%= subscription.subscription_status %></i></td>

                   </tr>
            <% end %>
      </table>
      
<%= button_to "Back to list", subscribers_path, method: :get %>
<%= button_to "Add Subscription", new_subscriber_subscription_path(@subscriber.id), method: :get %>
