<h1><%= @subscriber.name %></h1>
      <h2><%= @subscriber.username %></h2>
      <h2><%= @subscriber.subscription_type %></h2>
      <h2><%= @subscriber.contact_person %></h2>
      <h2><%= @subscriber.phone_details %></h2>
      <h2><%= @subscriber.fax_details %></h2>
      <h2><%= @subscriber.first_address %></h2>
      <h2><%= @subscriber.second_address %></h2>
      <h2><%= @subscriber.email_address %></h2>
      <h2><%= @subscriber.subscription_status %></h2>
      <h2><%= @subscriber.payment_status %></h2>
      <h2><%= @subscriber.delivery_status %></h2>
      <h2>
      <h2><%= @subscriber.title %></h2>
<%= link_to "Back to List", subscribers_path %>
