

<table style="width: 110%;">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Subscription Type</th>
    <th>Contact Person</th>
    <th>Phone Details</th>
    <th>Fax Details</th>
    <th>Address 1</th>
    <th>Address</th>
    <th>Email Address</th>
  </tr>


    
      <tr  align="center">


          <td><%= @subscriber.id %></td>
          <td><%= @subscriber.name %></td>      
          <td><%= @subscriber.subscription_type %></td>
          <td><%= @subscriber.contact_person %></td>
          <td><%= @subscriber.phone_details %></td>
          <td><%= @subscriber.fax_details %></td>
          <td><%= @subscriber.first_address %></td>
          <td><%= @subscriber.second_address %></td>
          <td><%= @subscriber.email_address %></td>
          </br>
      </tr>
    

  </table>

</br>
</br>
      <b>Subscriptions</b>
      
      <table style="width: 110%;">
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th>Payment Status</th>
                <th></th>
                <th>Delivery Status</th>
                <th></th>
                <th>Subscription Status</th>
                <th></th>
            </tr>

            <% @subscriber.subscriptions.each do |subscription| %>
            <tr  align="center">
                  <td><%= link_to subscription.journal, journal_path(subscription.journal.id) %></td>
                  <td><%= subscription.price %></td>
                  <td><i><%= subscription.payment_status %></i></td>

                  <td>
                  <% if subscription.payment_status == "Unpaid" %>
                   <%= button_to "Paid", subscriber_subscription_paid_path(@subscriber.id,subscription.id), method: :get %>
                  <% elsif subscription.payment_status == "Paid" %>
                  <%= button_to "Unpaid", subscriber_subscription_unpaid_path(@subscriber.id,subscription.id), method: :get %> 
                  <% end %>
                   </td>
                  <td><i><%= subscription.delivery_status %></i></td>
                  <td>
                  <% if subscription.delivery_status == "Undelivered" %>
                   <%= button_to "Delivered", subscriber_subscription_delivered_path(@subscriber.id,subscription.id), method: :get %>
                  <% elsif subscription.delivery_status == "Delivered" %>
                  <%= button_to "Undelivered", subscriber_subscription_undelivered_path(@subscriber.id,subscription.id), method: :get %> 
                  <% end %>
                   </td>
                  <td><i><%= subscription.subscription_status %></i></td>
                  <td>
                  <% if subscription.subscription_status == "Unsubscribed" %>
                   <%= button_to "Subscribed", subscriber_subscription_subscribed_path(@subscriber.id,subscription.id), method: :get %>
                  <% elsif subscription.subscription_status == "Subscribed" %>
                  <%= button_to "Unsubscribed", subscriber_subscription_unsubscribed_path(@subscriber.id,subscription.id), method: :get %> 
                  <% end %>
                   </td>

                   </tr>
            <% end %>
      </table>
      </br>
      </br>

<%= button_to "Back to list", subscribers_path, method: :get %>
<%= button_to "Add Subscription", new_subscriber_subscription_path(@subscriber.id), method: :get %>
