<!DOCTYPE html>
<html>
<head>
  <title>LS JOURNALS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>

<h1> WELCOME TO LOYOLA SCHOOLS JOURNAL SUBSCRIPTION SYSTEM </h1>

<% end %>


<%= yield %>

</body>
</html>
